$color-palette-1: (
  // Primary colors
  // purple
  pr-prl-1: #0c008c,
  pr-prl-2: #1d0ebe,
  pr-prl-3: #3525e6,
  pr-prl-4: #4d3df7,
  pr-prl-5: #5d55fa,
  pr-prl-6: #7069fa,
  pr-prl-7: #8888fc,
  pr-prl-8: #a2a5fc,
  pr-prl-9: #c4c6ff,
  pr-prl-10: #e6e6ff,
  // teal
  pr-tel-1: #014d40,
  pr-tel-2: #0c6b58,
  pr-tel-3: #147d64,
  pr-tel-4: #199473,
  pr-tel-5: #27ab83,
  pr-tel-6: #3ebd93,
  pr-tel-7: #65d6ad,
  pr-tel-8: #8eedc7,
  pr-tel-9: #c6f7e2,
  pr-tel-10: #effcf6,
  // Neutrals
  nt-1: #102a43,
  nt-2: #243b53,
  nt-3: #334e68,
  nt-4: #486581,
  nt-5: #627d98,
  nt-6: #829ab1,
  nt-7: #9fb3c8,
  nt-8: #bcccdc,
  nt-9: #bcccdc,
  nt-10: #f0f4f8,
  // Supporting
  // red
  sp-red-1: #610316,
  sp-red-2: #8a041a,
  sp-red-3: #ab091e,
  sp-red-4: #cf1124,
  sp-red-5: #e12d39,
  sp-red-6: #ef4e4e,
  sp-red-7: #f86a6a,
  sp-red-8: #ff9b9b,
  sp-red-9: #ffbdbd,
  sp-red-10: #ffe3e3,
  // yellow
  sp-ylw-1: #8d2b0b,
  sp-ylw-2: #b44d12,
  sp-ylw-3: #cb6e17,
  sp-ylw-4: #de911d,
  sp-ylw-5: #f0b429,
  sp-ylw-6: #f7c948,
  sp-ylw-7: #fadb5f,
  sp-ylw-8: #fce588,
  sp-ylw-9: #fff3c4,
  sp-ylw-10: #fffbea,
  // blue
  sp-ble-1: #035388,
  sp-ble-2: #0b69a3,
  sp-ble-3: #127fbf,
  sp-ble-4: #1992d4,
  sp-ble-5: #2bb0ed,
  sp-ble-6: #40c3f7,
  sp-ble-7: #5ed0fa,
  sp-ble-8: #81defd,
  sp-ble-9: #b3ecff,
  sp-ble-10: #e3f8ff
);
