// Roboto
@font-face {
  font-family: "Roboto", sans-serif;
  src: local("Roboto"),
    url(../../fonts/Roboto/Roboto-Thin.ttf) format("truetype");
}

@font-face {
  font-family: "Roboto", sans-serif;
  src: local("Roboto"),
    url(../../fonts/Roboto/Roboto-Light.ttf) format("truetype");
}

@font-face {
  font-family: "Roboto", sans-serif;
  src: local("Roboto"),
    url(../../fonts/Roboto/Roboto-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Roboto", sans-serif;
  src: local("Roboto"),
    url(../../fonts/Roboto/Roboto-Medium.ttf) format("truetype");
}

@font-face {
  font-family: "Roboto", sans-serif;
  src: local("Roboto"),
    url(../../fonts/Roboto/Roboto-Bold.ttf) format("truetype");
}

@font-face {
  font-family: "Roboto", sans-serif;
  src: local("Roboto"),
    url(../../fonts/Roboto/Roboto-Black.ttf) format("truetype");
}

// Open Sans
@font-face {
  font-family: "Open Sans", sans-serif;
  src: local("Open Sans"),
    url(../../fonts/OpenSans/OpenSans-Light.ttf) format("truetype");
}

@font-face {
  font-family: "Open Sans", sans-serif;
  src: local("Open Sans"),
    url(../../fonts/OpenSans/OpenSans-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Open Sans", sans-serif;
  src: local("Open Sans"),
    url(../../fonts/OpenSans/OpenSans-Medium.ttf) format("truetype");
}

@font-face {
  font-family: "Open Sans", sans-serif;
  src: local("Open Sans"),
    url(../../fonts/OpenSans/OpenSans-SemiBold.ttf) format("truetype");
}

@font-face {
  font-family: "Open Sans", sans-serif;
  src: local("Open Sans"),
    url(../../fonts/OpenSans/OpenSans-Bold.ttf) format("truetype");
}

@font-face {
  font-family: "Open Sans", sans-serif;
  src: local("Open Sans"),
    url(../../fonts/OpenSans/OpenSans-ExtraBold.ttf) format("truetype");
}
