@use "../abstracts/" as *;

$menuWidth: 25px;

.burger-menu {
  width: $menuWidth;
  justify-self: flex-end;
  grid-column: -1;
  background-color: transparent;
  cursor: pointer;

  &__item {
    position: relative;
    display: block;
    width: $menuWidth;
    height: 2px;
    background-color: getColor("pr-prl-5");
    transition: all 0.4s ease-in-out;
    @include borderRadius1;
    @include boxShadow1;

    &:not(:last-child) {
      margin-bottom: getMargin(400);
    }
  }

  &_open {
    .burger-menu__item {
      &:first-child {
        transform: translateY(calc(getMargin(400) + 2px)) rotate(45deg);
      }

      &:nth-child(2) {
        opacity: 0;
      }

      &:last-child {
        transform: translateY(calc(-1 * getMargin(400) - 2px)) rotate(-45deg);
      }
    }
  }
}
