@use "../abstracts/" as *;

.cocktail-card {
  margin-bottom: getMargin(1000);
  grid-column: 1/-1;
  background-color: #fff;
  overflow: hidden;
  @include borderRadius1;
  @include boxShadow3;

  &__header {
    background-color: getColor("pr-prl-10");

    &-inner-container {
      display: flex;
      align-items: center;
      padding: getPadding(1000);
    }
  }

  &__label-like-container {
    display: flex;
    align-items: center;
    gap: getMargin(600);
    margin-left: auto;
  }

  &__label-container {
    &_alcoholic {
      background-color: getColor("sp-ble-9");
    }

    &_non-alcoholic {
      background-color: getColor("pr-tel-9");
    }
  }

  &__label {
    &_alcoholic {
      color: getColor("sp-ble-1");
    }

    &_non-alcoholic {
      color: getColor("pr-tel-1");
    }
  }

  &__like-btn {
    width: 17px;
    height: 15px;
  }

  &__name {
    font-weight: 400;
    @include text(300);

    @include sm {
      @include text(400);
    }
  }

  &__ingredients {
    padding: getPadding(1200) getPadding(1000);
  }

  &__ingredient-title {
    margin-bottom: getMargin(200);
    font-weight: 600;
    color: getColor("nt-3");
    @include text(300);

    @include md {
      @include text(400);
    }
  }

  &__ingredient {
    font-weight: 400;
    color: getColor("nt-4");
    @include text(300);

    @include md {
      @include text(400);
    }
  }

  &__image {
    width: 100%;
    height: 182px;
    object-fit: cover;
  }
}
