@use "../abstracts/" as *;

.cocktail-card {
  margin-bottom: getMargin(1000);
  grid-column: 1/-1;
  background-color: #fff;
  overflow: hidden;
  @include borderRadius1;
  @include boxShadow3;

  &__header {
    background-color: getColor("pr-prl-10");

    &-inner-container {
      display: flex;
      align-items: center;
      padding: getPadding(1000);
    }
  }

  &__label-like-container {
    display: flex;
  }

  &__label-container {
    &_alcoholic {
      background-color: getColor("sp-ble-9");
    }
  }

  &__label {
    // padding;

    &_alcoholic {
      color: getColor("sp-ble-1");
    }
  }

  &__like-btn {
    width: 17px;
    height: 15px;
  }

  &__name {
    font-weight: 400;
    @include text(300);

    @include sm {
      @include text(400);
    }
  }

  &__ingredients {
    padding: getPadding(1200) getPadding(1000);
  }
}
