@use "../../abstracts/" as *;

.subscribe-form {
  grid-column: 1/-1;
  // max-height: 200px;
  padding: getPadding(1000);
  margin-bottom: getMargin(1200);
  background-color: #fff;
  @include borderRadius1;
  @include boxShadow3;

  &__form {
    display: flex;
    flex-direction: column;
  }

  &__heading {
    padding-bottom: getPadding(1200);
    font-weight: 400;
    color: getColor("nt-1");
    @include text(300);

    @include sm {
      @include text(400);
    }
  }

  &__succeed {
    display: block;
    margin-bottom: getMargin(400);
    background-color: getColor("pr-tel-9");

    &-text {
      padding: getPadding(100) getPadding(400);
      color: getColor("pr-tel-1");
    }

    &:hide {
      display: none;
    }
  }

  &__loader {
    margin-bottom: getMargin(400);
  }

  &__error {
    display: flex;
    width: max-content;
    margin-bottom: getMargin(400);
    padding: getPadding(100) getPadding(400);
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    background-color: getColor("sp-red-9");
    color: getColor("sp-red-1");
    @include text(200);
    @include borderRadius1;

    @include md {
      @include text(300);
    }
  }

  @include xmd {
    grid-column: 5/-1;
    grid-row: 2;
    margin-left: getMargin(400);
    margin-top: calc(422px + getMargin(300) + 56px + getMargin(800));
    margin-bottom: getMargin(1700);
  }
}
