@use "../abstracts/" as *;

.cocktails-page {
  &__container {
    grid-template-columns: repeat(12, 1fr);
  }

  &__big-loader {
    grid-column: 1/-1;
    margin: getMargin(1800) auto getMargin(1400) auto;
  }

  @include xmd {
    &__cocktail-card {
      &:nth-child(2n + 1) {
        grid-column: 1/7;
        margin-right: getMargin(400);
      }
      &:nth-child(2n) {
        grid-column: 7/-1;
        margin-left: getMargin(400);
      }
    }
  }

  @include md {
    &__cocktail-card {
      margin-left: getMargin(400);
      margin-right: getMargin(400);

      &:nth-child(3n + 1) {
        grid-column: 1/5;
      }
      &:nth-child(3n + 2) {
        grid-column: 5/9;
      }
      &:nth-child(3n + 3) {
        grid-column: 9/-1;
      }
    }
  }
}
