@use "../abstracts/" as *;

.header {
  background: linear-gradient(0deg, getColor("nt-10"), #fff);

  &__container {
    padding: getPadding(1000) 0;
    position: relative;
    align-items: center;
  }

  &__nav {
    width: 100vw;
    margin-left: -1rem;
    position: absolute;
    top: calc(47px + 2 * getPadding(1000));
    overflow: hidden;
    transition: height 0.4s ease-in-out;
    z-index: 2;

    &-container {
      display: flex;
      flex-direction: column;
      border-top: 1px solid getColor("pr-prl-10");
      @include boxShadow4;
    }

    &-link {
      text-align: center;
      background-color: #fff;
      padding: getPadding(800) 0;

      &:nth-child(even) {
        background-color: getColor("pr-prl-10");
      }

      &:hover {
        font-weight: 600;
      }
    }
  }

  @include sm {
    &__nav {
      width: auto;
      height: 100% !important;
      position: static;
      grid-column: -1;
      transition: none;

      &-container {
        height: 100%;
        flex-direction: row;
        gap: getMargin(1000);
      }

      &-link {
        display: flex;
        align-items: center;

        background-color: transparent;
        padding: 0;
        @include text();

        &:nth-child(even) {
          background-color: transparent;
        }

        &:hover,
        &_highlighted {
          position: relative;
          font-weight: 600;

          &::after {
            content: "";
            display: block;
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 3px;
            background-color: getColor("sp-ble-4");
          }
        }
      }
    }

    &__burger-menu {
      display: none;
    }
  }
}
